<html>
    <head>
        <title>Remolino Town</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta charset="utf8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="rt-header">
            <h1 class="rt-header-title"><%= data.settings.title %></h1>
            <div class="rt-header-menu">
                <% data.settings.links.forEach((link) => { %>
                    <a <% if (link[2]) { %> href="<%= link[2] ? link[2] : '#' %>" <% } %> class="rt-header-menu-item <%= link[2] ? '' : 'is-disabled' %>">
                        <span class="rt-header-menu-item-title"><%= link[0] %></span>
                        <span class="rt-header-menu-item-description"><%= link[1] %></span>
                    </a>
                <% }) %>
            </div>
        </div>
    </body>
</html>
